---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<p>
  A decade has passed since last we gathered in the borrowed gleam of that last, grand spire. We meet now as equals to share our goods, our company, and our stories. We meet now to share our memories, and to celebrate that — at least for a time — our memories persevere against all odds. Sit with us in this Reunion, join us in this faint light before we must part into the cold night once again.
</p>



{% set maxPosts = collections.posts.length | min(3) %}
<h2>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
